service: tripiz-relay
frameworkVersion: "4"

package:
  patterns:
    - "src/**"
  individually: true
  excludeDevDependencies: true

provider:
  name: aws
  runtime: nodejs18.x
  deploymentMethod: direct
  region: ap-northeast-1
  websocketsApiName: nostr-relay
  websocketsApiRouteSelectionExpression: $request.body.[0]
  websocketsDescription: Nostr Relay
  environment:
    NOSTR_EVENTS_SNS_ARN: ${env:NOSTR_EVENTS_SNS_ARN}
    OPENAI_API_KEY: ${env:OPENAI_API_KEY}
    UPSTASH_REDIS_REST_URL: ${env:UPSTASH_REDIS_REST_URL}
    UPSTASH_REDIS_REST_TOKEN: ${env:UPSTASH_REDIS_REST_TOKEN}
    SALT: ${env:SALT}
    ASTRADB_ENDPOINT: ${env:ASTRADB_ENDPOINT}
    ASTRADB_TOKEN: ${env:ASTRADB_TOKEN}
  iam:
    role:
      managedPolicies:
        - "arn:aws:iam::aws:policy/AmazonDynamoDBFullAccess"
        - "arn:aws:iam::aws:policy/AmazonSNSFullAccess"
        - "arn:aws:iam::aws:policy/AmazonAPIGatewayInvokeFullAccess"
        - "arn:aws:iam::aws:policy/AmazonSQSFullAccess"

functions:
  gateway_base:
    handler: src/gateway/base.handler
    timeout: 30
    memorySize: 256
    architecture: arm64
    maximumRetryAttempts: 1
    events:
      - sns:
          arn: ${env:NOSTR_EVENTS_SNS_ARN}
  gateway_ai:
    handler: src/gateway/ai.handler
    timeout: 30
    memorySize: 256
    architecture: arm64
    maximumRetryAttempts: 1
    events:
      - sns:
          arn: ${env:NOSTR_EVENTS_SNS_ARN}
          filterPolicyScope: MessageAttributes
          filterPolicy:
            kind:
              - 1
            premium:
              - 1
  gateway_boardcast:
    handler: src/gateway/boardcast.handler
    timeout: 30
    memorySize: 256
    architecture: arm64
    maximumRetryAttempts: 1
    events:
      - sns:
          arn: ${env:NOSTR_EVENTS_SNS_ARN}
  worker_persistence:
    handler: src/worker/persistence.handler
    timeout: 30
    memorySize: 256
    architecture: arm64
    maximumRetryAttempts: 1
    events:
      - sqs:
          arn: arn:aws:sqs:ap-northeast-1:913870644571:persistence.fifo
          batchSize: 10
  worker_delete:
    handler: src/worker/delete.handler
    timeout: 30
    memorySize: 256
    architecture: arm64
    maximumRetryAttempts: 1
    events:
      - sqs:
          arn: arn:aws:sqs:ap-northeast-1:913870644571:delete.fifo
          batchSize: 10
  worker_moderation:
    handler: src/worker/moderation.handler
    timeout: 30
    memorySize: 256
    architecture: arm64
    maximumRetryAttempts: 1
    events:
      - sqs:
          arn: arn:aws:sqs:ap-northeast-1:913870644571:moderation.fifo
          batchSize: 1
  worker_embeddings:
    handler: src/worker/embeddings.handler
    timeout: 30
    memorySize: 256
    architecture: arm64
    maximumRetryAttempts: 1
    events:
      - sqs:
          arn: arn:aws:sqs:ap-northeast-1:913870644571:embeddings.fifo
          batchSize: 1
  worker_xray:
    handler: src/worker/xray.handler
    timeout: 30
    memorySize: 256
    architecture: arm64
    maximumRetryAttempts: 1
    events:
      - sqs:
          arn: arn:aws:sqs:ap-northeast-1:913870644571:xray.fifo
          batchSize: 2
  worker_discuss_dreams:
    handler: src/worker/discuss_dreams.handler
    timeout: 30
    memorySize: 256
    architecture: arm64
    maximumRetryAttempts: 1
    events:
      - sqs:
          arn: arn:aws:sqs:ap-northeast-1:913870644571:discuss_dreams.fifo
          batchSize: 2
  worker_discuss_memories:
    handler: src/worker/discuss_memories.handler
    timeout: 30
    memorySize: 256
    architecture: arm64
    maximumRetryAttempts: 1
    events:
      - sqs:
          arn: arn:aws:sqs:ap-northeast-1:913870644571:discuss_memories.fifo
          batchSize: 2
  worker_discuss_reflections:
    handler: src/worker/discuss_reflections.handler
    timeout: 30
    memorySize: 256
    architecture: arm64
    maximumRetryAttempts: 1
    events:
      - sqs:
          arn: arn:aws:sqs:ap-northeast-1:913870644571:discuss_reflections.fifo
          batchSize: 2
  router_event:
    handler: src/router/EVENT.handler
    timeout: 30
    memorySize: 256
    architecture: arm64
    maximumRetryAttempts: 1
    events:
      - websocket:
          route: EVENT
  router_close:
    handler: src/router/CLOSE.handler
    timeout: 30
    memorySize: 256
    architecture: arm64
    maximumRetryAttempts: 1
    events:
      - websocket:
          route: CLOSE
  router_req:
    handler: src/router/REQ.handler
    timeout: 30
    memorySize: 256
    architecture: arm64
    maximumRetryAttempts: 1
    events:
      - websocket:
          route: REQ
  router_default:
    handler: src/router/default.handler
    timeout: 30
    memorySize: 256
    architecture: arm64
    maximumRetryAttempts: 1
    events:
      - websocket:
          route: $default
  router_connect:
    handler: src/router/connect.handler
    timeout: 30
    memorySize: 256
    architecture: arm64
    maximumRetryAttempts: 1
    events:
      - websocket:
          route: $connect
  router_disconnect:
    handler: src/router/disconnect.handler
    timeout: 30
    memorySize: 256
    architecture: arm64
    maximumRetryAttempts: 1
    events:
      - websocket:
          route: $disconnect
